.c-nav{
    background-color: $primary-grey;
}

.c-nav-list-item{
    color: $primary-black;  
    padding: 10px 10px;

}

.c-nav-list-item:hover{
    color: $primary-white;  
}

.c-nav-list{
    list-style: none;
    display: flex;
}